<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div class="recent-posts section">
			<h2 class="section-header">
				Recent posts
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<div class="post">

          {{ if .Params.thumbnail }}
            <img src='{{ absURL (printf "images/%s" .Params.thumbnail) }}' alt='' width=100 height=100>
          {{ end }}

          <div class="info">

            <div class="title-date">
              <a class="title" href="{{ .RelPermalink }}">
                {{.Title}}
              </a>

              <div class="meta">
                {{ if .Draft }} 
                  <span class="draft-label">DRAFT</span> 
                {{ end }}
                <div class="date">
                  {{ dateFormat "Jan 2, 2006" .Date }}
                </div>
              </div>
            </div>


            <span class="description">
              {{ if isset .Params "description" }}
              {{ .Description }}
              {{ else }}
              {{ .Summary }}&hellip;
              {{ end }}
            </span>

          </div>

				</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
