<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div class="favorites-list-col">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<div class="listing-year">
        <div class="year"> {{.Title}} </div>
        <div class="content"> {{ .Content }} </div>
			</div>
			{{- end -}}
			{{- end -}}
		</div>
	</div>

	{{ partial "footer.html" . }}
</body>
</html>

